<!doctype html>
<html lang=fr>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="liaisons/css/styles.css">
    <title>Exploration de Vue.js | Exercice Socks</title>

</head>
<body>

<header>
    <nav class="nav-bar"></nav>
</header>

<main>
    <div id="app">

        <div class="product">
            <div class="product-image">
                <img :src="image" />
            </div>
            <div class="product-info">
                <h1>{{ product }} <a :href="lien_VM" target="_blank">Vue Mastery</a></h1>
                <p class="description">{{ description }}</p>
                <p v-if="inventaire > 10">En stock</p>
                <p v-else-if="inventaire < 10 && inventaire > 0">Bientôt en rupture de stock ! <br>Quantité restante : {{ inventaire }}</p>
                <p v-else>Rupture de stock</p>

                <ul>
                    <li v-for="detail in details">{{ detail }}</li>
                </ul>
                <ul class="liste__radio">
                    <li v-for="grandeur in grandeurs">
                        <!--Ici, on utilise le v-bind (:) pour avoir des attributs dynamique :D (id et for)-->
                        <input
                          type="radio"
                          name="grandeur"
                          :id="grandeur"
                          class="screen-reader-only">
                        <label :for="grandeur">{{ grandeur }}</label>
                    </li>
                </ul>
                <div class="flex"><div
                  class="couleurBas"
                  @mouseover="majProduct(variation.varImage)"
                  v-for="variation in variations"
                  :key="variation.varId">
                        Voir en {{ variation.varCouleur }}
                </div></div>

                <p><a :href="lien_plus">Plus de bas
                    <span v-show="puer">puants </span>!
                </a></p>

                <div class="flex">
                    <!--Ici, on utilise le v-on (@) pour ajouter des écouteurs d'événement -->
                    <button @click="ajouter">Ajouter au panier</button>
                    <button @click="retirer">Retirer du panier</button>
                </div>
                <div class="cart">
                    <p>Panier ({{ panier }})</p>
                </div>

            </div>

        </div>

    </div>

</main>

<footer></footer>

<!-- CDN v2018 -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>

<script>window.jQuery || document.write('<script src="node_modules/jquery/dist/jquery.min.js">\x3C/script>')</script>

<!--Version de Vue.js la plus à jour-->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="liaisons/js/main.js"></script>


</body>
</html>