/**
 * @author Christine Daneau-Pelletier <christine.daneau.pelletier@gmail.com>
 *
 * ------------------------------
 * TABLE DES MATIÈRES - variables
 * ------------------------------
 * Polices de caractères
 * Palette de couleurs
 * Points de rupture
 **/

/** Polices de caractères **/
/*

/** Importation des fonts **/
//@import url('https://fonts.googleapis.com/css?family=Bungee|Emblema+One|Fredericka+the+Great|Open+Sans:400,600,700,800&display=swap');
@font-face {
  font-family: OpenSans;
  src: url('../fontes/OpenSans-Regular.woff2') format('woff2'),
  url('../fontes/OpenSans-Regular.woff') format('woff'),
  url('../fontes/OpenSans-Regular.ttf') format('truetype');
}
@font-face {
  font-family: OpenSans-Bold;
  src: url('../fontes/OpenSans-Bold.woff2') format('woff2'),
  url('../fontes/OpenSans-Bold.woff') format('woff'),
  url('../fontes/OpenSans-Bold.ttf') format('truetype');
}
@font-face {
  font-family: Bungee;
  src: url('../fontes/Bungee-Regular.woff2') format('woff2'),
  url('../fontes/Bungee-Regular.woff') format('woff'),
  url('../fontes/Bungee-Regular.ttf') format('truetype');
}
@font-face {
  font-family: FrederickatheGreat;
  src: url('../fontes/FrederickatheGreat-Regular.woff2') format('woff2'),
  url('../fontes/FrederickatheGreat-Regular.woff') format('woff'),
  url('../fontes/FrederickatheGreat-Regular.ttf') format('truetype');
}
@font-face {
  font-family: EmblemaOne;
  src: url('../fontes/EmblemaOne-Regular.woff2') format('woff2'),
  url('../fontes/EmblemaOne-Regular.woff') format('woff'),
  url('../fontes/EmblemaOne-Regular.ttf') format('truetype');
}

/** Polices de caractères **/
$fontePrimaire: OpenSans, Arial, sans-serif;
$fonteSecondaire: OpenSans-Bold, Arial, sans-serif;
$fonteTertiaire: Bungee, Arial, cursive;
$fonteQuaternaire: FrederickatheGreat, Arial, cursive;;
$fonteQuinquenaire: EmblemaOne, Arial, cursive;;

/** Palette de couleurs **/
// Au besoin utiliser http://chir.ag/projects/name-that-color pour nommer les couleurs

$jaune: #F6AA1C;
$orangeBrule: #BC3908;
$rouge: #941B0C;
$brun: #621708;
$terre: #220901;
$vert: #31CA72;

$noir: #000;
$blanc: #fff;
$grisPale: #f2f2f2;

/** Points de rupture **/
$large : 1500px;
$bureau : 801px;
$tablette : 480px;
$mobile : 360px;