/**
 * @author Christine Daneau-Pelletier <christine.daneau.pelletier@gmail.com>
 *
 * ---------------------------------------------------------
 * TABLE DES MATIÈRES - Styles généraux
 * ---------------------------------------------------------
 * FORM
 * AUTRES
 * ARRIÈRE-PLAN COMMUN
 */

/* --------------------------------------------- */
/* FORM */
/* --------------------------------------------- */
.erreur {
  color: $rouge;
}

.erreurElement{
  border:1px solid $rouge;
}

.ok {
  color: $vert;
}

fieldset {
  border: none;
  padding: 0;
}



/* --------------------------------------------- */
/* ARRIÈRE-PLAN COMMUN */
/* --------------------------------------------- */
body {
  background: url("../images/inspecteur_petit.svg") no-repeat  170% 30px / 500px, radial-gradient(ellipse at center 25%, $orangeBrule, $brun 85%) fixed;

  &.inspecteur--anim {
    background: url("../images/inspecteur_petit.svg") no-repeat  130% 30px / 500px, radial-gradient(ellipse at center 25%, $orangeBrule, $brun 85%) fixed;
  }

  &.inspecteurIntro {
    background: url("../images/inspecteur.svg") no-repeat 100vw 200px / 890px, radial-gradient(ellipse at center 25%, $orangeBrule, $brun 85%) fixed;
  }
  &.inspecteurIntro--anim {
    background: url("../images/inspecteur.svg") no-repeat 60vw 200px / 890px, radial-gradient(ellipse at center 25%, $orangeBrule, $brun 85%) fixed;
  }

  &:before, &:after {
    content: 'Instruments';
    position: absolute;
    z-index: -1;
    top: 4rem;
    width: 100%;
    height: 100%;
    font-family: $fonteQuaternaire;
    @include fontSize(260px);
    opacity: .065;
  }

  &:after {
    content: 'Mystères';
    top: 32rem;
    @include fontSize(360px);
    animation: animTexteArriere 90s linear both infinite;
    animation-delay: 2s;
  }

  &:before {
    animation: animTexteArriere 165s linear reverse both infinite;
  }
}


/* Animation du texte en before & after */
/* --------------------------------------------- */
@keyframes animTexteArriere {
  from {
    left: 105%;
  }

  to {
    left: -105%;
  }
}

/* --------------------------------------------- */
/* *** AUTRES *** */
/* --------------------------------------------- */
:focus {
  outline: transparent;
}

a {
  display: inline-block;
  transition: all .2s ease-in-out;
  text-decoration: none;
  color: inherit;

  &:hover, &:focus{
  }

  &.disabled {
    pointer-events: none;
    cursor: default;
  }
}

ul {
  list-style: none;
  padding: 0;
}

img{
  max-width: 100%;
  vertical-align: bottom;
}

footer {
  color: $blanc;
  padding-left: 50px;
  p {
    margin: 0;
  }

  a {
    text-decoration: underline;
    &:hover, &:focus {
      color: $jaune;
    }
  }
}

/* Gestion d'affichage */
/* --------------------------------------------- */
.displayNone {
  display: none;
}

.tableOnly {
  @media (max-width: $bureau) {
    display: none;
  }
}
.mobileOnly {
  @media (min-width: $bureau) {
    display: none;
  }
}


/* Avec js*/
/* --------------------------------------------- */
body {
  color: $terre;
  overflow-x: hidden;
  &.js {
    overflow: hidden;
  }
}

.transition {
  transition: all .7s cubic-bezier(.43,0,.17,1.3);
}


/* Pas de javascript :'(  */
/* --------------------------------------------- */
body:not(.js) {
  background: url("../images/inspecteur_petit.svg") no-repeat  130% 30px / 500px, radial-gradient(ellipse at center 25%, $orangeBrule, $brun 85%) fixed;

  &.inspecteurIntro {
    background: url("../images/inspecteur.svg") no-repeat 60vw 200px / 890px, radial-gradient(ellipse at center 25%, $orangeBrule, $brun 85%) fixed;
  }
}

noscript {
  z-index: 10;
  display: block;
  position: fixed;
  top: 20px;
  right: 0;
  left: 0;
  margin: 0 auto;
  border-radius: 2px;
  width: 50%;
  padding: 13px 20px;
  line-height: 1.75;
  background: $grisPale;
  @include shadowCentre;
}